h1 {color:slateblue;}
h2 {color:slateblue;}
h3 {color:slateblue;}
h4 {color:slateblue;}
h5{color: slateblue;}

.coso="col" {color:slateblue;}
h2{font-family: 'Courgette', cursive;}
h1{font-size: 50px;}
h2{font-size: 30px;}
h1{margin: 0;
border: 0;}
h2{background:skyblue ;}
h1{
	width: 100px;
	height: 10;
	}

	*{background: lightgray;}
{

}
























